html,
html a {
    text-decoration: none;
    text-rendering: geometricprecision;
}

html a:hover {
    text-decoration: none;
}

body {
    background: #ffffff none repeat scroll 0 0;
    color: #ffffff;
    font-family: tit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: normal;
    margin-top: 0;
}

.col-centered {
    display: inline-block;
    float: none !important;
}

.row-centered {
    text-align: center;
}

.bottom-header {
    background: rgba(0, 0, 0, 0) url("../images/img1.png") no-repeat scroll 50% 50% / cover;
    min-height: 722px;
    padding-top: 33px;
    overflow: hidden;
}
.progress{


    height: 29px;
    margin-top: 20px;
}
.progress-bar{


    line-height: 26px;
    font-size: 17px;
    text-align: left;
    padding-left: 20px;
}


.red{
    color:red;
    }
.form-area
{
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	}


  .form-area h3
  {
    color: #525252;
    font-size: 40px;
    font-family: btit;
    margin-top: 16px;
    margin-bottom: 0;
  	}

#submit{
    background: #ff5476;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}
.gallery_product{

padding: 0;

}
.gallery-title{
  margin-bottom: 20px !important;
}
.nav-item{

}
.nav-item a{

    color: #000;
    font-family: btit;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  color: #ff5476;
}

.navbar-collapse.collapse {
  width: 70%;
  overflow: hidden;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
  display: inline-block;
  height: 55px;
  padding-top: 8px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right !important;
}
.navbar-toggle{
  display: none !important;
}
.whoiamcontainer{
  width: 700px;
}
.gallery_product {
    width: 287px;
    float: left;
    height: 239px;
    overflow: Hidden;
}
.gallery_product img{
    width: 100%;
    min-height: 239px;
}
.menu{width: 70%;float: left;}
.container {
    width: 1170px;
    padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
  background-color: #d9534f !important;

    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 23px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;

}

textarea.form-control {
    height: 150px;
}

.menuheader {
    background: #fff none repeat scroll 0 0;
    height: 54px;
}

.Ghofran .navbar-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin-bottom: 0;
    margin-top: 2px;
}

.Ghofran .navbar-brand {
    display: none;
}

.navbar-nav>li a {
    font-size: 15px;
    font-family: stit;
    color: #000 !important;
    margin: 0 !important;
    padding: 12px 22px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: none;
    color: #ff7caa !important;
    font-family: btit;
}

.sociallink {float: right;width: 25%;}

.sociallink div {
    float: right;
}

.sociallink a {
    background: url(../images/social1.png);
    width: 42px;
    height: 42px;
    display: inline-block;
    float: left;
    margin: 5px 4px;
}

.sociallink a:hover {
    text-shadow: 2px 2px 2px rgb(170, 170, 170);
}

.header-text {
    text-align: center;
}

.header-text a {}

.header-text a img {
    float: none;
    margin: auto;
    margin-top: 71px;
    margin-top: 71px;
}

.notmain{

}
.notmain .bottom-header {
     background: #00ebb1 url("../images/style1.png") no-repeat;

    padding-top: 33px;
     background-position: right -127% bottom -45%;
}

.aboutmetext{

padding-bottom: 100px;

}
.aboutmetext h1{

color: #000;
font-size: 52px;
font-family: btit;
margin-top: 68px;
margin-bottom: 0;
}

.aboutmetext span{

color: #ff5476;
font-family: btit;


font-size: 27px;
}
.aboutmetext p{
color: #fff;

margin-top: 21px;
text-align: justify;
font-size: 17px;
}
